# Ignore node_modules folder (for Node.js projects)
node_modules/

# Ignore build and temporary files
dist/
build/
*.log

# Ignore .env file containing sensitive information
.env

# Ignore VS Code specific files
.vscode/

# Ignore operating system specific files
.DS_Store      # macOS
Thumbs.db      # Windows
